// COLORS
// $primary-color: #02aab0;
// $secondary-color: #00cdac;

$primary-color: #23074d;
$secondary-color:#00b09b;

$white-color: #fff;

$dark-grey: #2c2b35;

$dark-blue-text: #272341; // For Headings

// FONT SIZE
$default-font-size: 1.6rem;
$big-font-size: 4rem;
$mid-font-size: 2.5rem;
